<div class="details-header">
  <div class="grid-container">
    <h1><%= @grantee.name %></h1>
    <h2>Grantee #<%= @grantee.id %>, Region <%= @grantee.region %></h2>
  </div>
</div>
<div class="details-body grid-container">
  <div class="grid-row grid-gap">
    <div class="grid-col-4">
      <div class="summary-section">
        <div class="ct-section-divider">
          <h2>Summary</h2>
        </div>
      </div>
    </div>
  </div>
</div>
