<table class="usa-table" aria-describedby="#caption" >
  <thead>
    <tr>
      <th scope="col" role="columnheader">HSES Issue #</th>
      <th
        data-sortable
        scope="col"
        role="columnheader"
      > Date Created </th>
      <th data-sortable scope="col" role="columnheader"> Status </th>
      <th data-sortable scope="col" role="columnheader"> Grantee </th>
      <th scope="col" role="columnheader"> Summary </th>
      <th scope="col" role="columnheader"> TTA </th>
      <th scope="col" role="columnheader"> RAN </th>
    </tr>
  </thead>
  <tbody>
  <% @complaints.each do |complaint| %>
    <%= render "complaints/complaints_table_detail", complaint: complaint %>
  <% end %>
  </tbody>
</table>
<div class="usa-sr-only usa-table__announcement-region" aria-live="polite">
  <!-- this content will change when sort changes -->
</div>

<%= render partial: 'complaints/pagination', locals: {pagy: @pagy} %>

<p class="margin-bottom-3" id="caption">Complaints associated with this user. Data for illustration purposes only.</p>
