<% if @error.present? %>
 <section aria-label="Site alert">
  <div class="usa-alert usa-alert--error" role="alert">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading"><%= @error.title %></h4>
      <p class="usa-alert__text"><%= @error.details %></p>
    </div>
  </div>
 </section>

<% elsif @complaints.blank? %>
  <section aria-label="Site alert">
    <div class="usa-alert usa-alert--info" role="alert">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">No issues found</h3>
        <p class="usa-alert__text">Placeholder text for the message, including any mitigation steps we need to share.</p>
      </div>
    </div>
  </section>
<% end %>
