<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic usa-header--megamenu">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-mega-logo">
        <em class="usa-logo__text">
          <a href="javascript:void(0)" title="OHS complaints tracker">
           OHS Complaints Tracker
          </a>
        </em>
      </div>
    </div>
  </div>
</header>
