<div class="display-none" id="tta-activity-form">
  <%= render "tta_create_activity_report" %>
</div>
<div class="ct-section-divider display-flex flex-align-center">
  <%= image_pack_tag "media/usa-icons/link.svg", class: "ct-link-icon", id: "tta-report-icon", "aria-hidden": true %>
  <%= button_to "Link TTA Activity Report", "#tta-report-id", {
    class: "usa-link usa-button--unstyled ct-add-report-link",
    id: "js-add-tta-report",
    role: "button"
    }
  %>
</div>
