<div class="details-header">
  <div class="grid-container">
    <h1>Issue #<%= @complaint[:id] %></h1>
  </div>
</div>
<div class="details-body grid-container">
  <div class="grid-row grid-gap">
    <div class="grid-col-4">
      <div class="summary-section">
        <h2>Summary</h2>
        <p>
          <strong><%= @complaint.dig :attributes, :grantee %>:</strong>
          <%= @complaint.dig :attributes, :issue %>
        </p>
      </div>
    </div>

    <div class="grid-col-8">
      <div class="summary-section">
        <h2><%= status(@complaint[:attributes]) %></h2>
      </div>
    </div>
  </div>
</div>
