# generated with:
#   cf service-key < name > space-deployer-key

cf_user = ""
cf_password = ""

# uncomment and fill out if using a sandbox account
# cf_org_name = "sandbox-gsa"
# cf_space_name = ""
