.summary-section {
  background-color: #fff;
  border: 2px solid #dfe1e2;
  border-radius: 5px;
}

.summary-header {
  background-color: #f0f0f0;
  margin-bottom: 1rem;
  a {
    color: #2b6289;
    text-decoration: none;
    padding: 0 1rem;
  }
}

.summary-body {
  padding: 0 1rem 1rem;
}

.usa-process-list__item.usa-process-list__item-disc::before {
  border: 0;
  color: #1A4480;
  content: '•';
  font-size: 3rem;
  height: 1.25rem;
  margin-top: 0;
}

.ct-section-divider {
  border-bottom: 1px solid #DFE1E2;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.ct-tta-divider {
  margin-bottom: 1rem;
  border-bottom: 1px solid #DFE1E2;
}

.ct-monitoring-divider {
  border-top: 1px solid #DFE1E2;
  padding-top: 1rem;
  margin-top: 1rem;
}

.ct-timeline__two-part-container {
  display: flex;
  align-items: baseline;
}

.ct-timeline__date {
  color: #71767A;
  flex: 1;
  font-size: 0.8em;
  font-weight: normal;
  text-align: right;
}

.ct-timeline__overdue {
  color: #B50909;
}

.ct-timeline__due-soon {
  color: #c05600;
}

.ct-add-report-link {
  color: #005ea2
}

.ct-link-icon {
  filter: invert(14%) sepia(91%) saturate(4253%) hue-rotate(193deg) brightness(96%) contrast(100%);
  padding-right: 0.5rem;
}
