// Most of this CSS stolen from USWDS th[data-sortable] code

$table-unsorted-icon-color: #71767a;
$table-header-text-color: #1b1b1b;
$table-sorted-header-text-color: #1b1b1b;

@mixin table-button-default-styles {
  background: transparent;
  border: none;
  height: 2rem;
  width: 2rem;
  background-position: center center;
  color: $table-header-text-color;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  position: absolute;
  right: 0.25rem;
  text-align: center;
  text-decoration: none;
  // vertically center button within table header
  top: 50%;
  transform: translate(0, -50%);
  .usa-icon {
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
    & > g {
      fill: transparent;
    }
  }
}

// The SVG in the sortable column button contains three icon shapes.
// This CSS controls which of the shapes is 'filled' when active.

@mixin table-button-unsorted-styles {
  @include table-button-default-styles;
  .usa-icon > g.unsorted {
    fill: $table-unsorted-icon-color;
  }
  &:hover .usa-icon > g.unsorted {
    fill: $table-header-text-color;
  }
}

@mixin table-button-sorted-ascending-styles {
  @include table-button-default-styles;
  .usa-icon > g.ascending {
    fill: $table-sorted-header-text-color;
  }
}
@mixin table-button-sorted-descending-styles {
  @include table-button-default-styles;
  .usa-icon > g.descending {
    fill: $table-sorted-header-text-color;
  }
}

th[data-remote-sortable] {
  padding-right: 2.5rem;
  position: relative;
  &:after {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &:not([aria-sort]),
  &[aria-sort="none"] {
    .usa-table__header__button {
      @include table-button-unsorted-styles;
    }
  }

  &[aria-sort="descending"] {
    .usa-table__header__button {
      @include table-button-sorted-descending-styles;
    }
  }

  &[aria-sort="ascending"] {
    .usa-table__header__button {
      @include table-button-sorted-ascending-styles;
    }
  }
}
