<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text">
          <a href="javascript:void(0)" title="OHS Complaint Tracker">
            OHS Complaint Tracker
          </a>
        </em>
      </div>
      <% if user_signed_in? %>
        <%= link_to "Logout #{current_user["uid"]}", logout_path, class: "usa-button", data: {turbolinks: false} %>
      <% else %>
        <%= button_to "Login", "/auth/hses", class: "usa-button" %>
      <% end %>
    </div>
  </div>
</header>
