name: Deploy Staging

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'doc/**'
      - 'README.md'

jobs:
  deploy:
    name: Deploy to staging
    runs-on: ubuntu-latest
    environment: stage
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Deploy app
        uses: 18F/cg-deploy-action@main
        env:
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
          HSES_AUTH_CLIENT_SECRET: ${{ secrets.HSES_AUTH_CLIENT_SECRET }}
        with:
          cf_username: ${{ secrets.CF_USERNAME }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: hhs-acf-ohs-hses
          cf_space: ct-stage
          push_arguments: "--vars-file config/deployment/stage.yml --var rails_master_key=$RAILS_MASTER_KEY --var hses_auth_client_secret=$HSES_AUTH_CLIENT_SECRET"

      - name: Check for changes to migrations
        id: changed-files
        uses: tj-actions/changed-files@v1.1.2
        with:
          files: db/migrate

      - name: Run migration
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: 18f/cg-deploy-action@main
        with:
          cf_username: ${{ secrets.CF_USERNAME }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: hhs-acf-ohs-hses
          cf_space: ct-stage
          full_command: |
            cf run-task complaints-tracker-stage -c "bundle exec rake db:migrate"


      - name: "wait a minute for task to run"
        if: steps.changed-files.outputs.any_changed == 'true'
        run: sleep 60

      - name: Restart server
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: 18f/cg-deploy-action@main
        with:
          cf_username: ${{ secrets.CF_USERNAME }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: hhs-acf-ohs-hses
          cf_space: ct-stage
          full_command: |
            cf restart complaints-tracker-stage --strategy rolling
