<% if flash[:notice] %>
  <div class="usa-alert usa-alert--success usa-alert--slim">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= flash[:notice] %>
      </p>
    </div>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="usa-alert usa-alert--error usa-alert--slim">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= flash[:alert] %>
      </p>
    </div>
  </div>
<% end %>
